@font-face{
    font-family: 'Comic Jungle';
    src: url(Fontes/Comic\ Jungle\ Extrude.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Pacifico';
    src: url(Fontes/Pacifico.ttf) format('truetype');
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    line-height: 1.6;
    background-color: antiquewhite;
    color: dimgrey



}
header {
    font-family: 'Pacifico';
    padding: 32px;
    text-align: center;
    background-color: bisque;
}

nav {
    font-family: 'Comic Jungle';
    background-color: rgb(3, 136, 245);
    padding: 16px;
    text-align: center;
    color: white;
    

}
nav ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;


}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    padding: 32px;
    max-width: 1200px;
    margin: auto;
}
article h1 {
    margin-bottom: 16px;
}
article h2 {
    margin-top: 32px;
    margin-bottom: 8px;
}
article p {
    margin-bottom: 15px;
}
aside {
    background-color: rgb(48, 148, 187);
    color: white;
    padding: 24px;
    border-left: 16px solid whitesmoke;

}
footer {
    text-align: center;
    padding: 24px;
    background-color: rgb(182, 177, 177);
    margin-top: 100px;
    font-size: 14px;
}